@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
main {
    padding: 3rem 2rem;
}
h2 {
    padding: 0 0 1.1rem 0;;
}
p {
    color: red;
}