@model MvcApp.ViewModels.CategoryWithClassesViewModel
@{
    ViewData["Title"] = "Våra kurser";
}

<h1>@ViewData["Title"]</h1>

<section>
    @foreach (var classes in Model.Classes)
    {
        <div>
            
            <p>
            @classes.Length
            @classes.Title
            @classes.Length
            Här kommer snart info om kurserna 
            </p> 
        </div>
    }
</section>
