@model IEnumerable<MvcApp.ViewModels.CategoryWithClassesViewModel>

{
    ViewData["Title"] = "V책ra kurser";
}


<section>
    @foreach (var category in Model)
    {
        <div>
            
            <p>
            @category.CategoryName
            
            H채r kommer snart info om kurserna 
            </p> 
        </div>
    }
</section>















@* @model MvcApp.ViewModels.CategoryWithClassesViewModel
@{
    ViewData["Title"] = "V책ra kurser";
}
<section>
    @foreach (var classes in Model.Classes)
    {
        <div>
            
            <p>
            @classes.CourseNumber
            @classes.Title
            @classes.Length
            H채r kommer snart info om kurserna 
            </p> 
        </div>
    }
</section>  *@
