
@model IEnumerable<MvcApp.ViewModels.CategoryWithClassesViewModel>
@{
    ViewData["Title"] = "Kurser";
}

<h1>@ViewData["Title"]</h1>
<section>
    @foreach (var category in Model)
    {
        <div class="gallery-card">
            <a asp-controller="category" asp-action="classes"/>
           <p>
               @category.CategoryName

            </p> 
        </div>
         
     }
</section>
