
@model IEnumerable<MvcApp.ViewModels.CategoryWithClassViewModel>
@{
    ViewData["Title"] = "Kurser";
}

<h1>@ViewData["Title"]</h1>
<section>
    @foreach (var category in Model)
    {
        <div>
            <a asp-controller="Classes" asp-action="Details"/>
           <p>
               @category.CategoryName

            </p> 
        </div>
         
     }
</section>
